<body>
  <div class="container mt-5 d-flex flex-column">
<!-- Description -->
    <div class="scooter">
      <div class="scooter-header">
        <h2><%=@scooter.model%></h2>
      </div>
      <div class="scooter-body">
        <p><strong>Description:</strong> <%=@scooter.description%> </p>
        <p><strong>Location:</strong> <%=@scooter.location%> </p>
        <p><strong>Price:</strong> <%=@scooter.price_per_day%>€</p>
      </div>
    </div>

    <!-- Calendar -->
    <div class="mt-4">
      <h4>Book this scooter</h4>
        <%= simple_form_for [@scooter, @booking] do |f| %>
          <%= f.input :start_date,
            as: :string,
            input_html: { data: { controller: "datepicker" } } %>
        <% end %>

        <%= simple_form_for [@scooter, @booking] do |f| %>
          <%= f.input :end_date,
            as: :string,
            input_html: { data: { controller: "datepicker" } } %>
        <% end %>
    </div>

<!-- Total price calculation and display -->
    <div class="price">
      <p><strong>Duration:</strong> end_date - start_date </p>
      <p><strong>Total Price:</strong> duration*price</p>
    </div>

      <!-- Buttons -->
    <div class=buttons>

      <div class=book-back>
        <%=button_to 'Go back'%>
      </div>

      <div class=book-button>
        <%=button_to 'Book'%>
      </div>

    </div>

    </div>
</body>
</html>
