<body>
  <div class="container mt-5">
<!-- Description -->
    <div class="scooter">
      <div class="scooter-header">
        <h2>Insert scooter name here</h2>
      </div>
      <div class="scooter-body">
        <p><strong>Description:</strong> description </p>
        <p><strong>Location:</strong> location </p>
        <p><strong>Price:</strong> price</p>
      </div>
    </div>

    <!-- Calendar -->
    <div class="mt-4">
      <h3>Book this scooter</h3>
        <%= simple_form_for [@scooter, @booking] do |f| %>
          <%= f.input :start_date,
            as: :string,
            input_html: { data: { controller: "datepicker" } } %>
        <% end %>

        <%= simple_form_for [@scooter, @booking] do |f| %>
          <%= f.input :end_date,
            as: :string,
            input_html: { data: { controller: "datepicker" } } %>
        <% end %>
    </div>

<!-- Total price calculation and display -->
    <div class="price">
        <p><strong>Duration:</strong> end_date - start_date </p>
        <p><strong>Total Price:</strong> duration*price</p>
      </div>
    </div>

<!-- Buttons -->
    <div class=book-back>
      <%=button_to 'Go back'%>
    </div>

    <div class=book-button>
      <%=button_to 'Book'%>
    </div>
  </div>
</body>
</html>
