<body>
  <div class="container d-flex flex-column align-items-center mt-5 w-50">

<!-- Description -->
    <div class="scooter w-100">
      <div class="scooter-header">
        <h2><%=@scooter.model%></h2>
      </div>
      <div class="scooter-body">
        <p><strong>Description:</strong> <%=@scooter.description%> </p>
        <p><strong>Location:</strong> <%=@scooter.location%> </p>
        <p><strong>Price:</strong> <%=@scooter.price_per_day%>€</p>
      </div>
    </div>

<!-- Dates and price booking -->
<div class="date-price-booking w-100">
<!-- Calendar -->
    <div>
      <h4>Book this scooter</h4>
      <div>
        <% if @scooter.bookings.count >= 1%>
          <%@duration_period_array = []%>
          <% @scooter.bookings.each do |booking|%>
            <% @duration_period_array.push((booking.start_date .. booking.end_date).to_a)%>
          <% end %>
          <%total_days = 0%>
          <% @duration_days = @duration_period_array.last.count %>
          <% @total_price = (@duration_days * @scooter.price_per_day) %>
          <%else%>
          <%@duration_period_array = []%>
        <% end %>
        <%= simple_form_for [@scooter, @booking] do |f| %>
          <%= f.input :start_date, as: :string, input_html: { data: { controller: "datepicker", datepicker_dates_value: @duration_period_array.flatten } } %>
          <%= f.input :end_date, as: :string, input_html: { data: { controller: "datepicker", datepicker_dates_value: @duration_period_array.flatten } } %>
          <div class="actions d-flex justify-content-between w-100 mb-5">
            <%= link_to "Back", scooters_path, class: "btn btn-secondary" %>
            <%= f.submit "Book", class: "btn btn-success" %>
          </div>
        <%end %>
      </div>
    </div>

<!-- Total price calculation and display -->
    <%# <div class="price">
      <p><strong>Duration:</strong> <%= @duration_days </p>%>
      <%# <p><strong>Total Price:</strong> <%= number_to_currency(@total_price) </p>%>
    <%# </div>  %>

<!-- Buttons -->
    <%# <div class="buttons actions d-flex justify-content-between w-100 mb-5"> %>
        <%# <%= link_to "Back", scooters_path, class: "btn btn-secondary" %>
        <%# <%= link_to "Book", scooters_path, class: "btn btn-success" %>
      <%# </div> %>
    </div>

</div>

</body>
</html>
